@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@700&family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

*{
    scroll-behavior: smooth;
}



body{
    background-color: rgb(3, 3, 63);
    color: white;
}

nav{
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(149, 149, 240);
    font-size: 1.04rem;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.main{
    margin-top: -10px;
}

.left{
    font-size: 1.5rem;
    color: white;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
}

.firstSection > div{
    width: 30%;
}

.leftSection{
    /* background-color: red; */
    font-size: 2rem;
}

.color_name{
    color: rgb(170, 101, 218);
}

#element{
    color: rgb(170, 101, 218);
}

/* .rightSection{
    background-color: red;
} */
.rightSection img{
    border-radius: 30px;
    width: 120%;
    /* margin: 50px 0px; */
    margin: 20px 20px 20px -130px;
}

.secondSection{
    background: white;
    color: black;
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    /* align-items:start; */
}

.secondSection > div{
    width: 50%;
}

.leftSection2 img{
    width: 80%;
    margin: 20px 20px 20px 60px;
    border-radius: 30px;
}

.rightSection2{
    display: flex;
    margin: 120px 0;
    align-items: center;
    font-size: 1.2rem;
    height:max-content;
}

.rightSection2 div{
    height: 100px;
    margin-bottom: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}

.thirdSection{
    /* display: flex; */
    margin-top: -75px;
    background-color: rgb(201, 219, 226);
    justify-content: left;
    height: 350px;
}

.project1{
    margin-left: 50px;
    margin-top: -30px;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

.project2{
    margin-top: 30px;
    display: flex;
    color: rgb(43, 41, 0);
    font-size: 1.5rem;
    margin: 20px 20px 20px 60px;
}

.description{
    font-size: 1.3rem;
    list-style-type: none;
}

.linkGit{
    background-color: black;
    border: 2px solid white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 10px;
}

.linkGit a{
    color: green;
    text-decoration: none;
}

.linkGit1{
    background-color: black;
    border: 2px solid white;
    color: green;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.linkGit1 a{
    color: green;
    text-decoration: none;
}

.fourthSection{
    height: 350px;
}

.leftSection4{
    font-size: 3rem;
    margin-top: 175px;
    margin-left: 70px;
}

.rightSection4{
    font-size:xx-large;
    margin-left: 1000px;
}