@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@700&family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(3, 3, 63);
    color: white;
}

nav{
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(149, 149, 240);
    font-size: 1.04rem;
}

.left{
    font-size: 1.5rem;
    color: white;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
}

.firstSection > div{
    width: 30%;
}

.leftSection{
    /* background-color: red; */
    font-size: 2rem;
}

.color_name{
    color: rgb(170, 101, 218);
}

#element{
    color: rgb(170, 101, 218);
}

/* .rightSection{
    background-color: red;
} */
.rightSection img{
    width: 120%;
    margin: 50px 0px;
}

.secondSection{
    background: white;
    color: black;
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    /* align-items:start; */
}

.secondSection > div{
    width: 50%;
}

.leftSection2 img{
    width: 80%;
    margin: 20px 20px 20px 60px;
    border-radius: 30px;
}

.rightSection2{
    display: flex;
    margin: 120px 0;
    align-items: center;
    font-size: 1.2rem;
    height:max-content;
}

.rightSection2 div{
    height: 100px;
    margin-bottom: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}

.hello{
    /* font-size: 2rem; */
}